.container {
  display: grid;
  grid-template-columns: 32.5% 30% 32.5%;
  grid-gap: 2.5%;
}

.form {
  grid-column: 2/3;
}

.labels-wrapper {
  padding: 15px;
}

.labels {
  grid-column: 3/4;

  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.order__labels {
  margin-bottom: 25px;
}

#buy_orders {
  grid-column: 1/2;
}

#sell_orders {
  grid-column: 3/4;
}

.order__message {
  font-size: 12px;
  margin-bottom: 10px;
}
