.container
  .form
    - if flash.any?
      - flash.each do |k, v|
        .message{class: k}=v

    = form_for @enquiry, method: :put, url: enquiries_path do |f|
      %fieldset
        %legend Bot Options
        .form-item
          = f.label 'Specify market'
          = f.select :market, markets
        .form-item
          = f.label 'How many buy orders to create?'
          = f.text_field :buy_count
        .form-item
          = f.label 'How many sell orders to create?'
          = f.text_field :sell_count
        .form-item
          = f.label 'How much lower the buy price should be?'
          = f.text_field :buy_percent
        .form-item
          = f.label 'How much higher in % the sell price should be?'
          = f.text_field :sell_percent
        .form-item
          = f.label 'How much you want to spend on purchase in total?'
          = f.text_field :spend_amount
        .form-item
          = f.label 'How much you want to sell in total?'
          = f.text_field :sell_amount
        .form-item
          = f.submit class: 'button w100'
  .labels-wrapper
    .labels
      #buy_orders
        .label.badge.outline.black.order__labels= "You have #{open_orders['buy'].to_h.count} buy orders"
        - open_orders['buy'].each do |order|
          .message.order__message
            = "market: #{order['market']}"
            %br
            = "price: #{order['price']}"
            %br
            = "size: #{order['size']}"
      #sell_orders
        .label.badge.outline.focus.order__labels= "You have #{open_orders['sell'].to_h.count} sell orders"
        - open_orders['sell'].each do |order|
          .message.order__message
            = "market: #{order['market']}"
            %br
            = "price: #{order['price']}"
            %br
            = "size: #{order['size']}"
